.wrapper {
  max-width: 300px;
  padding: 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  margin: auto;
}

.wrapper:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.place {
  font-size: 18px;
  margin-bottom: 4px;
}

.date {
  font-size: 16px;
  margin-bottom: 4px;
}

.forecastWrapper {
  display: flex;
}
     
.status {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-weight: 600;
}

.temp {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.itemWrapper {
  text-align: center;
  margin-right: 8px;
}

.itemDate {
  font-size: 14px;
}

.itemTemp {
  font-size: 12px;
}

@media (max-width: 992px) {
  .wrapper {
    max-width: none;
    padding: 20px 16px 2px;
  }
  .forecastWrapper {
    display: none;
  }
}