.wrapper { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  margin: 4px 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.wrapper:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}

.sourceWrapper {
  display: flex;
  margin-bottom: 8px;
  color: #5d6269;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.description, .srcName, .publishTime {
  font-size: 16px;
}

.srcName {
  color: #5d6269;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 16px;
  }
  .description, .srcName, .publishTime {
    font-size: 12px;
  }
  .sourceWrapper {
    flex-direction: column;
  }
  .separator {
    display: none;
  }
  .title {
    font-size: 14px;
  }
}